.NavbarStyle {
    background-color: #F3EEF6;
    padding: 10px 20px;
}

.logo {
    height: 60px;
}

.item {
    margin: 10px;
    color: #684FA5;
    text-decoration: none;
  }
  
  .item:hover {
    color: black;
}