.container{
    display: flex;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
  }

.container h3, .container h4{
    text-align: center;
    padding-bottom: 25px;
}


.color{
    margin-top: 20px;
    color: blueviolet;
}

.bcolor{
    color: blueviolet;
    float: left;
}


.ex{
    margin-top: 30px;
    color:blueviolet;
}

.bot{
    justify-content: right;
}