.Main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;

}

.Info {
    padding: 4%;
    width: -webkit-fill-available;
}

.Fondo {
    background-color: #F3EEF6;
    padding: 15px;
}

.inputGroup{
    position: relative;
    margin: 5px;
    margin-top: 15px;
}

.input{
    padding: 1px 4px;
    height: 40px;
    width: 230px;
    border: none;
    border-radius: 4px;
    font: inherit;
    color: black;
    background-color: transparent;
    outline: 2px solid black;
}

.inputLabel{
    position: absolute;
    font-size: smaller;
    color: rgb(109, 108, 108);
    left: 0;
    top:2px;
    transform: translate(10px,10px);
    transition: transform .25s;
}

.input:focus+.inputLabel,.input:valid+.inputLabel{
    transform: translate(2px,-14px) scale(.8);
    color: #684FA5;
    padding-inline: 5px;
    background-color:white;
    border-right: 4px;
    border:3px solid #fff;
    border-top: none;
    border-bottom: none;
}

.input:is(:valid,:focus){
    outline-color: #684FA5;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.BtnAceptar {
    background-color: white; 
    border: 1px solid #684FA5;
    color: #684FA5;
    padding: 10px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50px;
    margin-top: 20px;
}

.BtnAceptar:hover {
    background-color: #684FA5; 
    color: white;
}

@media (min-width: 1000px) {
    .form { 
      display: flex;
      flex-direction:row;
      justify-content: space-around;
    }
  
    .BtnAceptar {
      margin-top: 10px;
    }
}