.footer {
    background-color: #c5b8e6;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footerLogo {
    height: 60px;
}

.footerInfo {
    font-size: smaller;
    font-style: italic;
}