.cita {
    background-color: white;
    margin: 5px;
    padding: 2.5px;
    border-radius: 10px;
    white-space: nowrap;
    display: flex;
}
  
.inicial {
    background: #684FA5;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.info {
    display: flex;
    align-items: center;
    padding-left: 1.5%;
}
  
.nombreAlumno {
    padding: 0 20px;
}