.container {
    display: flex;
    flex-direction: column;
    align-items:normal;
    justify-content: center;
    width: 90vh;
    height: 100vh;


  }

.container h3,h4{
    text-align: center;
    padding-bottom: 25px;
}


.color{
    margin-top: 20px;
    color: blueviolet;
}

.bcolor{
    color: blueviolet;
    float: left;
}


.ex{
    margin-top: 30px;
    color:blueviolet;
}

.bot{
    justify-content: right;
}