.Main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.Info {
  padding: 4%;
  width: -webkit-fill-available;
}

.Fondo {
  background-color: #f3eef6;
  padding: 15px;
}

.citaContainer {
  background-color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.numeroCita {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #684fa5;
  color: #ffffff;
  font-weight: bold;
  margin-right: 5px;
}

.pagination {
  display: flex;
  justify-content: right;
}

.paginationButton {
  border: none;
  padding: 5px 15px;
  background-color: transparent;
  color: #684fa5;
  border-bottom: 2px solid transparent;
  transition: background-color 0.3s, border-bottom-color 0.3s;
}

.active {
  background-color: #d0c8e4;
  border-bottom-color: #684fa5;
}

.citasGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-gap: 10px;
}
